<a href="https://colab.research.google.com/github/brhmkhn4/Pandas_Exercises/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipco = pd.read_csv(url, sep = '\t')

# Step 4. See the first 10 entries

In [6]:
chipco.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1

chipco.shape[0]

4622

In [8]:
# Solution 2
chipco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Step 6. What is the number of columns in the dataset?

In [9]:
chipco.shape[1]

5

# Step 7. Print the name of all the columns.

In [10]:
chipco.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Step 8. How is the dataset indexed?

In [11]:
chipco.index

RangeIndex(start=0, stop=4622, step=1)

# Step 9. Which was the most-ordered item?

In [12]:
c = chipco.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-12-41382f915ea6>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 11. What was the most ordered item in the choice_description column?

In [13]:
c = chipco.groupby(['choice_description']).sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-13-150d1cd87023>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipco.groupby(['choice_description']).sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

# Step 12. How many items were orderd in total?

In [14]:
total_items_orders = chipco.quantity.sum()
total_items_orders

4972

# Step 13. Turn the item price into a float
## 13.a check item price data type

In [16]:
chipco.item_price.dtype

dtype('O')

# Step 13.b. Create a lambda function and change the type of item price

In [28]:
chipco.item_price = chipco.item_price.apply(lambda x: float(x))
chipco.item_price.dtype

dtype('float64')

# Step 14. How much was the revenue for the period in the dataset?

In [39]:
revenue = (chipco['quantity'] * chipco['item_price']).sum()
('Revenue was: $' + str(np.round(revenue,2)))

'Revenue was: $39237.02'

# Step 15. How many orders were made in the period?

In [47]:
order = chipco.order_id.value_counts().count()
order

1834

# Step 16. What is the average revenue amount per order?

In [81]:
# Solution 1
chipco['revenue'] = chipco['quantity'] * chipco['item_price']
order_grouped = chipco.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

<ipython-input-81-4feb176c3c67>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  order_grouped = chipco.groupby(by=['order_id']).sum()

21.39423118865867

In [91]:
# Solution 2
Avg_rvnu = chipco.groupby(by=['order_id']).sum()
Avg_rvnu.mean()['revenue']

<ipython-input-91-251903fe07d0>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Avg_rvnu = chipco.groupby(by=['order_id']).sum()

21.39423118865867

# Step 17. How many different items are sold?

In [92]:
chipco.item_name.value_counts().count()

50